Package:            ResilioSync
Section:            Addon
Version:            2.5.7
Packager:           Resilio, Inc.
Email:              support@resilio.com
Homepage:           https://www.resilio.com
Description:        如果你发现插件不管用了，不要惊讶可能代理服务流量用完了。
Icon:               ResilioSync.png
AddonShowName:      Resilio Sync
AddonIndexPage:     index.html
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
