<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Transmission Angular</title>
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#333333">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="dist/css/transmission.min.css">
    <link rel="apple-touch-icon-precomposed" href="dist/img/logo.png">
    <link rel="icon" href="dist/img/logo.png" sizes="192x192" type="image/logo192.png">
    <link rel="icon" href="dist/img/logo.png" sizes="256x256" type="image/logo256.png">
    <link rel="icon" href="dist/img/logo.png" sizes="384x384" type="image/logo384.png">
    <link rel="icon" href="dist/img/logo.png" sizes="512x512" type="image/logo512.png">
</head>
<body ng-controller="mainController" style="touch-action: none;" mn-touch swipe-left="swip.left()" swipe-right="swip.right()" swipe-up="swip.up();$event.stopPropagation();">
<div class="loading" id="loading">
    <div>
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
        <span>正在初始化</span>
    </div>
</div>
<header class="header mobile" ng-class="{'mobile-show':consolePanel.status}">
    <div>
        <span class="logo">
            <span class="logo-img"></span>
            <i>Transmission</i>
        </span>
        <span class="icon-add" ng-class="{'disabled':allLoaded === false}" ng-click="addTransform($event)">
            <i>添加任务</i>
        </span>
        <span class="icon-delete" ng-class="{'disabled':dataStorage.selectedIndex === '' || allLoaded === false}" ng-click="removeFromList([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>从列表中删除</i>
        </span>
        <span class="icon-start-light" ng-class="{'disabled':dataStorage.selectedIndex === '' || allLoaded === false}" ng-click="startTransform([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>开始</i>
        </span>
            <span class="icon-pause-light" ng-class="{'disabled':dataStorage.selectedIndex === '' || allLoaded === false}" ng-click="pauseTransform([dataStorage.torrent[dataStorage.selectedIndex].id])">
            <i>暂停</i>
        </span>
        <span class="icon-start-all-light" ng-class="{'disabled':dataStorage.torrent.length === 0 || allLoaded === false}" ng-click="startTransform(dataStorage.allIds)">
            <i>开始所有任务</i>
        </span>
        <span class="icon-pause-all-light" ng-class="{'disabled':dataStorage.torrent.length === 0 || allLoaded === false}" ng-click="pauseTransform(dataStorage.allIds)">
            <i>暂停所有任务</i>
        </span>
    </div>
</header>
<nav class="nav" ng-class="{'nav-menu':nav.status}">
    <div>
        <span class="icon-menu" ng-click="nav.toggle()"></span>
        <div id="hide" class="hide">
            <span class="searchBox" ng-class="{'active':dataStorage.searchText.name !== ''}">
                <label for="searchBox"><span class="icon-search"></span></label>
                <input id="searchBox" type="text" ng-model="dataStorage.searchText.name" ng-change="filterChange()">
            </span>
            <span class="icon-download"> {{dataStorage.totalSpeed.download !== 0 ?bytesConvert(dataStorage.totalSpeed.download):0}}/s </span>
            <span class="icon-upload"> {{dataStorage.totalSpeed.upload !== 0 ?bytesConvert(dataStorage.totalSpeed.upload):0}}/s </span>
        </div>
    </div>
    <ul>
        <li ng-repeat="item in nav.menudata.name track by $index" ng-if="getScreenWidth() <=  1024 ? item !== '查看传输明细':true" ng-class="{'active':$index === 1 && dataStorage.global['alt-speed-enabled'] === true}" ng-click="nav.close($event,$index)">
            <span ng-class="nav.menudata.className[$index]"></span>
            <i>{{item}}</i>
        </li>
    </ul>
</nav>
<ul id="torrent-list" class="torrent-list">
    <li ng-repeat="item in dataStorage.torrent | filter:dataStorage.searchText" ng-class="parsTorrentClassName(item,$index)" ng-click="selectTorrent($index)" ng-dblclick="getScreenWidth() > 1024 ?detail.show():false;">
        <div class="name">{{item.name}}</div>
        <div class="status" ng-bind-html="parseText.Status(item)"></div>
        <div class="progess-bar">
            <div ng-style="{'width':getProgessBarWidth(item)}"></div>
        </div>
        <div class="transform-data" ng-bind-html="parseText.TransformData(item)"></div>
    </li>
</ul>
<section id="torrent-detail" class="torrent-detail" ng-class="{'show':detail.status}">
    <div>
        <span class="icon-close" ng-click="detail.close()"></span>
        <ul>
            <li ng-repeat="item in detail.tabNames track by $index" ng-class="{'selected':detail.selectedTabIndex === $index}" ng-click="detail.tabSelect($index)">
                <span ng-if="$index === 0" class="icon-info-light"></span>
                <span ng-if="$index === 1" class="icon-people"></span>
                <span ng-if="$index === 2" class="icon-server"></span>
                <span ng-if="$index === 3" class="icon-checklist"></span>
            </li>
        </ul>
        <section class="torrent-detail-content" id="torrent-detail-content"></section>
    </div>
</section>
<div id="modal-bg" class="modal-bg" ng-class="{'modal-show':modal.status}" ng-click="modal.close()"></div>
<div id="modal" class="modal" ng-class="{'modal-show':modal.status,'statics':modal.type === 'statics','tip':modal.type === 'tip','waring':modal.type === 'waring','add':modal.type === 'add','about':modal.type === 'about','size-big':modal.size === 'big','size-small':modal.size === 'small','size-window':modal.size === 'size-window'}" ng-click="$event.stopPropagation();"></div>
<script src="libs/requirejs/require.min.js" data-main="load.js"></script>
<div include-replace ng-include="modal.tempatesUrl"></div>
<div include-replace ng-include="tmpUrl.detail" onload="detailTemplateLoaded = true"></div>
</body>
</html>